/*
Colors used:
Primary Color (Black): #000000;
Secondary Color (Teal): #80BEB9;
*/

body {
  background-color: #E6E0E0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6
  color: #000000;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight:700;
}
h2 {
  font-size: 2.25em;
  font-weight: 700;
}
h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}
img {
  width: 100%;
}

a {
  color: #5B5B5B;
  text-decoration: none; /* No underlining */
}
a:visited { /* visited link */
  color: #31444C;
}
a:hover {
  color: #31444C;
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:active { /* selected link */
  color: #0F1396;
}
a:hover,
a:focus {
  color: #31444C;
  text-decoration: underline;
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #80BEB9;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #31444C; /* width of the border, type, color */
  transition: 0.2s opacity;
}
.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
.button.contact {
  background-color: transparent;
  color: #80BEB9;
  text-transform: uppercase;
  border: 2px solid #80BEB9;
}
.button.contact:hover {
  background-color: #80BEB9;
  color: #ffffff;
}

.heromessage {
  font-family: 'PT Sans';
  color: #80BEB9;
}
.workfont {
  font-family: 'PT Sans';
  color: #80BEB9;
}
.contactfont {
  font-family: 'PT Sans';
  color: #80BEB9;
}
